# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/

dist/
build/
*.egg-info/

# Env files
.env
.env.*

# Node
node_modules/
/dist/
/build/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# SQLite
*.db

